<div class="container">


<mat-card>
    <mat-card-title>
        ZADZWOŃ
    </mat-card-title>
    <mat-card-header class="contact-header">
        
        <mat-grid-list cols="2" rowHeight="5rem">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="contact-name">Rejestracja</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary">
                    <a href="tel:+48-669-288-899">669 453 332</a>
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="contact-name">Szczepienia COVID</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary">
                    <a href="tel:+48-669-288-899">91 48 5890</a>
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="contact-name">Pani Krysia</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary">
                    <a href="tel:+48-669-288-899">501 500 500</a>
                </button>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-title>
        NAPISZ
    </mat-card-title>
    <mat-card-header class="contact-header">
        
        <mat-grid-list cols="2" rowHeight="5rem">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="contact-name">Rejestracja</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary">
                    <a href = "mailto: piotr@putiatycki.pl">tylkodobretabsy@łykaj.pl</a>
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="contact-name">Prywatna poczta kapitana</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary">
                    <a href = "mailto: piotr@putiatycki.pl">rumbezfaktury@łykaj.pl</a>
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="contact-name">Pani Krysia</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary">
                    <a href = "mailto: piotr@putiatycki.pl">nzozgardno1000@łykaj.pl</a>
                </button>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-title>
        ZNAJDŹ NAS
    </mat-card-title>
    <mat-card-header class="map-header">

    </mat-card-header>
    
</mat-card>

</div>