/// CONTENT

.container
  margin-bottom: 2rem


/// EXPAND BUTTON

.mat-card
  display: flex
  margin: 1rem

.expand-all-button
  margin: auto
  font-size: 1.5rem
  color: snow
  height: 2rem

/// HEADER

.mat-header-element
  maring: auto
  padding: 1rem

.headers-align
  .mat-expansion-panel-header-title
    flex-basis: 0
    display: inline
    
  .mat-expansion-panel-header-description
    flex-basis: 0
    justify-content: space-between

  .mat-form-field + .mat-form-field
    margin-left: 8px

.mat-expansion-panel
  margin: 1rem
  
/// TITLE 

.title-container
  display: flex

.title-icon
  margin: auto 1rem auto 0.5rem
  font-size: 2rem

.mat-title
  display: inline
  margin-left: auto 1rem auto 1rem
  padding: 1rem
  font-size: 1.2rem
  line-height: 1.05rem

.date-container
  min-width: 5rem
  margin: auto
  font-weight: bold
  font-size: 1.1rem
  

/// EXPANDED CONTENT 

.mat-body-1
  text-indent: 4vw
  padding: 1rem
  word-break: break-word
