

<div class="container">
    <mat-card> 
        <button mat-raised-button color="primary" class="expand-all-button" (click)="allExpandedSwitch()">{{allExpanded ? "UKRYJ WSZYSTKIE" : "POKAŻ WSZYSTKIE"}}</button>
    </mat-card>



    <mat-expansion-panel *ngFor="let n of news; let i = index;"
    hideToggle
    [expanded]="step === i || allExpanded" (opened)="setStep(i)">
        <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
            
            <mat-panel-title class="title-container">
                <div class="title-icon">
                    <mat-icon [inline]="true" color="primary">{{n.category}}</mat-icon>
                </div>
                <div class="mat-title">
                    {{n.title}} 
                </div>
                
            </mat-panel-title>

            <div class="date-container">{{n.date | date:'dd MMMM'}}</div>
            
        </mat-expansion-panel-header>
        
        <div *ngFor="let c of n.content">
            <div class="mat-body-1">
                {{c}}
            </div>
        </div>
        

        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">KOLEJNA AKTUALNOŚĆ</button>
          </mat-action-row>

    </mat-expansion-panel>
</div>