<simple-notifications></simple-notifications>   
<button (click)="go('cokolwiek')"></button>

<mat-grid-list      cols="6" rowHeight=0.5rem 
                    [ngClass]='(isHandset$ | async) ? "g-mobile" : "g-list"'>

    <mat-grid-tile  [routerLinkActive]="['is-active']" 
                    routerLink="/home" 
                    [ngClass]='(isHandset$ | async) ? "img-box-mobile" : "img-box"' 
                    [colspan]="(isHandset$ | async) ? 6 : 4" 
                    [rowspan]="(isHandset$ | async) ? 15 : 13"> 
    </mat-grid-tile>



    <mat-grid-tile  [colspan]="(isHandset$ | async) ? 3 : 1" 
                    [rowspan]="(isHandset$ | async) ? 10 : 13"
                    [ngStyle]="(isHandset$ | async) ? {'background': 'white'} : {'background': 'transparent'}">
        <button color="primary" mat-raised-button (click)="openContactSheet()">
            <mat-icon aria-hidden="false" aria-label="call">call</mat-icon>
            ZADZWOŃ</button>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="(isHandset$ | async) ? 3 : 1" 
                    [rowspan]="(isHandset$ | async) ? 10 : 13"
                    [ngStyle]="(isHandset$ | async) ? {'background': 'white'} : {'background': 'transparent'}">
        <button color="primary" mat-raised-button (click)="openEmailSheet()">
            <mat-icon aria-hidden="false" aria-label="email">email</mat-icon>
            NAPISZ</button>
    </mat-grid-tile>
    
</mat-grid-list>

