

.mat-raised-button
    margin: 1rem
    font-size: 150%
    height: 80%
    width: 100%
    transition: 300ms ease-in-out
    &:hover
        font-size: 160%
        background-color: snow
        color: black
        transition: 300ms ease-in-out
    
