<owl-carousel-o [options]="customOptions">
  
    
  
<ng-template carouselSlide>
  <div  class="owl-boy" 
        [ngStyle]="{ 'background-image': 'url(assets/img/f1.jpg)'}">
      <div class="title">
        <h1>"Wjezdza biała mewa, <br> więcej nam nie trzeba"</h1>
      </div>
        
      <button class="more-button" mat-raised-button> CZYTAJ WIĘCEJ</button>

  </div>
</ng-template>

<ng-template carouselSlide>
  <div  class="owl-boy" 
        [ngStyle]="{ 'background-image': 'url(assets/img/f7.jpg)'}">

        <div class="title">
          <h1>{{newsA[0].title}} </h1>
        </div>

    
          <div class="mat-body-1">
            {{newsA[0].content}}
          </div>
          

          
        <button class="more-button" mat-raised-button> AKTUALNOŚCI</button>
  
        
  </div>
</ng-template>

<ng-template carouselSlide>
  <div  class="owl-boy" 
        [ngStyle]="{ 'background-image': 'url(assets/img/f8.jpg)'}">
        
  </div>
</ng-template>
 </owl-carousel-o>

