

  <mat-grid-list cols="2" rowHeight="5.5rem">

    <mat-grid-tile [colspan]="1">
        <h1 style="border-bottom: 2px solid teal;">EMAIL</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="primary">
            <a href = "mailto: piotr@putiatycki.pl">tylkodobretabsy@łykaj.pl</a>
        </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="(isHandset$ | async) ? 2 : 1">
        <mat-form-field #namePost color="primary" appearance="outline">
            <mat-label>IMIĘ</mat-label>
            <input matInput placeholder="name" [formControl]="name">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(isHandset$ | async) ? 2 : 1">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Podaj swój adres email</mat-label>
            <input matInput placeholder="email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">Nieprawidłowy email</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <mat-form-field appearance="outline">
            <mat-label>Twoja wiadomość. Max 1000 znaków.</mat-label>
            <textarea matInput placeholder="text" [formControl]="text" style="height: 12rem;"></textarea>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2">
        <button mat-raised-button color="primary" 
                style="font-size: 1.5rem;"
                (click)="submit()">
            WYŚLIJ
        </button>
    </mat-grid-tile>
  </mat-grid-list>

  