.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 40%;

}

.sidenav .mat-toolbar {
  background: inherit;
  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}


.mat-nav-list-in-toolbar {
  display: flex;
}

.mat-button {
  position: relative;
  font-size: 110%;
  margin: 1rem;
  height: 100%;
  height: 10%;

}

.spacer {
  flex: 1 1 auto;
}
.hidden {
  display: none !important;
  
}
