.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 40%;

}

.sidenav .mat-toolbar {
  background: inherit;
  
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}




.mat-button {
  position: relative;
  font-size: 1rem;
  margin: 1rem;
  height: 100%;
  color: black;

}

.spacer {
  flex: 1 1 auto;
}
.hidden {
  display: none !important;
  
}
