<mat-grid-list cols="2" rowHeight="5rem">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="contact-name">Biuro</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="primary">
            <a href="tel:+48-669-288-899">669 288 899</a>
        </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="contact-name">Biuro</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="primary">
            <a href="tel:+48-669-288-899">669 288 899</a>
        </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="contact-name">Biuro</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="primary">
            <a href="tel:+48-669-288-899">669 288 899</a>
        </button>
    </mat-grid-tile>
</mat-grid-list>