
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$md-dzikpalette: (
    50 : #e1f2f3,
    100 : #b3dfe1,
    200 : #80c9cd,
    300 : #4db3b8,
    400 : #27a3a9,
    500 : #01939a,
    600 : #018b92,
    700 : #018088,
    800 : #01767e,
    900 : #00646c,
    A100 : #9cf5ff,
    A200 : #69f0ff,
    A400 : #36ecff,
    A700 : #1ce9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mf-primary: mat-palette($md-dzikpalette);
$mf-accent: mat-palette($md-dzikpalette, 10);
$mf-warn: mat-palette($md-dzikpalette);

$mf-theme: mat-light-theme((
  color: (
    primary: $mf-primary,
    accent: $mf-accent,
    warn: $mf-warn
  )
));


$dzik-typography: mat-typography-config(
  $font-family: 'Raleway',
  $title: mat-typography-level(1.2rem, 1rem, bold),
  $body-1: mat-typography-level(1.05rem, 1.7rem)
);

@include angular-material-theme($mf-theme);
@include angular-material-typography($dzik-typography);
@include mat-core($dzik-typography);

html, body { height: 100%; }
body { margin: 0; font-family: "Raleway", sans-serif; }
