
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$md-dzikpalette: (
    10 : #ffffff,
    50 : #ebf7f7,
    100 : #cdebea,
    200 : #acdedc,
    300 : #8bd1ce,
    400 : #72c7c4,
    500 : #59bdb9,
    600 : #51b7b2,
    700 : #48aeaa,
    800 : #3ea6a2,
    900 : #2e9893,
    A100 : #defffd,
    A200 : #abfffa,
    A400 : #78fff8,
    A700 : #5efff6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$mf-primary: mat-palette($md-dzikpalette);
$mf-accent: mat-palette($md-dzikpalette, 10);
$mf-warn: mat-palette($md-dzikpalette);


$mf-theme: mat-light-theme((
  color: (
    primary: $mf-primary,
    accent: $mf-accent,
    warn: $mf-warn
  )
));


$dzik-typography: mat-typography-config(
  $font-family: '"Rubik", sans-serif;'
);

@include angular-material-theme($mf-theme);
@include mat-core($dzik-typography);
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: "Rubik", sans-serif; }
